extends layout

block content
    .container
        - for (var i=0; i<inventory.length; i++) {
            .row
                .h1= inventory[i].title
            .row
                table.table.table-striped
                    thead
                        tr
                            th Id
                            - for (var k=0; k<inventory[i].fields.length; k++) {
                            th= inventory[i].fields[k].title
                            - }
                            th
                            th

                    tbody

                    - for (var j=0; j<inventory[i].items.length; j++) {
                        tr
                            - for (var l=0; l<Object.keys(inventory[i].items[j]).length; l++) {
                            td.field= inventory[i].items[j][(Object.keys(inventory[i].items[j])[l])]
                            - }
                            td
                                a(href="/admin/"+inventory[i].type+"/"+inventory[i].items[j].id+"/delete")
                                    i.fa.fa-times
                            td
                                a(onClick="edit"+inventory[i].type+"(" + JSON.stringify(inventory[i].items[j]) + ")")
                                    i.fa.fa-edit
                    - }

            form.form-inline(action="http://localhost:3000/admin/"+inventory[i].type method="post")
                input(type='hidden' id= inventory[i].type+'-id' name='id')
                - for (var k=0; k<inventory[i].fields.length; k++) {
                    .form-group
                        label.sr-only(for= inventory[i].fields[k].title.toLowerCase())= inventory[i].fields[k].title
                        input.form-control(type=inventory[i].fields[k].type id= inventory[i].type+'-'+inventory[i].fields[k].title.toLowerCase() name= inventory[i].fields[k].title.toLowerCase() placeholder= inventory[i].fields[k].title)
                - }

                button.btn.btn-default(type='submit') Guardar
        - }

        script.
            function editcamiseta(obj){
                $('input#camiseta-id').val(obj.id);
                $('input#camiseta-precio').val(obj.precio);
                $('input#camiseta-cantidad').val(obj.cantidad);
                $('input#camiseta-talla').val(obj.talla);
                $('input#camiseta-color').val(obj.color);
                $('input#camiseta-bolsillo').val(obj.bolsillo);
            }

            function editvestido(obj){
                $('input#vestido-id').val(obj.id);
                $('input#vestido-precio').val(obj.precio);
                $('input#vestido-cantidad').val(obj.cantidad);
                $('input#vestido-talla').val(obj.talla);
                $('input#vestido-color').val(obj.color);
            }

            function editmanta(obj){
                $('input#manta-id').val(obj.id);
                $('input#manta-precio').val(obj.precio);
                $('input#manta-cantidad').val(obj.cantidad);
                $('input#manta-color').val(obj.color);
            }
