//
   Created by usuario on 07/12/16.

.container-fluid
    .row-fluid
        #box.col-md-offset-4.col-md-4
            h2 Contact Us!
            hr
            form#contact_form.form-horizontal(action='mailto:someone@example.com', method='post')
                fieldset
                    // Form Name
                    // Text input
                    .form-group
                        .col-md-12
                            .input-group
                                span.input-group-addon
                                    i.fa.fa-user
                                input.form-control(name='name', placeholder='Nombre', type='text')
                    // Text input
                    .form-group
                        .col-md-12
                            .input-group
                                span.input-group-addon
                                    i.fa.fa-mail-reply
                                input.form-control(name='email', placeholder='E-Mail', type='text')
                    // Text input
                    .form-group
                        .col-md-12
                            .input-group
                                span.input-group-addon
                                    i.fa.fa-phone
                                input.form-control(name='phone', placeholder='(+34)', type='text')
                    // Text input
                    .form-group
                        .col-md-12.inputGroupContainer
                            .input-group
                                span.input-group-addon
                                    i.fa.fa-archive
                                textarea.form-control(name='comment', placeholder='Message')
                    .form-group
                        .col-md-12
                            button.btn.btn-warning.pull-right(type='submit')
                                | Send
                                span.fa.fa-paper-plane

