

.footer.navbar-fixed-bottom
    .container
        div.row(style="text-align: center")
            div.col-md-12
                div
                    h5 SÍGUENOS EN
                div
                    ul
                        li(style="display:inline;padding:2%")
                                i.fa.fa-facebook-square.fa-5
                        li(style="display:inline;padding:2%")
                                i.fa.fa-instagram.fa-5
                        li(style="display:inline;padding:2%")
                                i.fa.fa-wordpress.fa-5
