extends layout

block content
    .container-fluid(style="padding:2%")
        div.row
            - for (var i = 0; i < data.length; ++i) {
                .col-xs-8.col-sm-6.col-md-4
                    .card
                        // Card image
                        img.card-img-top(src=data[i].img[0] style='margin:auto;max-width:100%;max-height:100%' onclick='showModal(this)' data-data=data[i] )

                        // Card content
                        .card-block
                            // Title
                            .row
                                h4.card-title= data[i].nombre
                                p.card-text= data[i].descripcion
                                a.card-link(href="#" onclick='addToCart('+JSON.stringify(data[i])+')') Añadir al carro
            - }
