extends layout

block content

    -

    -

    ul.slides
      input#img-1(type='radio', name='radio-btn', checked='')
      li.slide-container
        .slide
          img(src='/assets/background/background_2.jpg')
        .nav
          label.prev(for='img-6') ‹
          label.next(for='img-2') ›
      input#img-2(type='radio', name='radio-btn')
      li.slide-container
        .slide
          img(src='/assets/background/background_1.jpg')
        .nav
          label.prev(for='img-1') ‹
          label.next(for='img-3') ›
      input#img-3(type='radio', name='radio-btn')
      li.slide-container
        .slide
          img(src='/assets/background/background_2.jpg')
        .nav
          label.prev(for='img-2') ‹
          label.next(for='img-4') ›
      input#img-4(type='radio', name='radio-btn')
      li.slide-container
        .slide
          img(src='/assets/background/background_1.jpg')
        .nav
          label.prev(for='img-3') ‹
          label.next(for='img-5') ›
      input#img-5(type='radio', name='radio-btn')
      li.slide-container
        .slide
          img(src='/assets/background/background_2.jpg')
        .nav
          label.prev(for='img-4') ‹
          label.next(for='img-6') ›
      input#img-6(type='radio', name='radio-btn')
      li.slide-container
        .slide
          img(src='/assets/background/background_1.jpg')
        .nav
          label.prev(for='img-5') ‹
          label.next(for='img-1') ›
      li.nav-dots
        label#img-dot-1.nav-dot(for='img-1')
        label#img-dot-2.nav-dot(for='img-2')
        label#img-dot-3.nav-dot(for='img-3')
        label#img-dot-4.nav-dot(for='img-4')
        label#img-dot-5.nav-dot(for='img-5')
        label#img-dot-6.nav-dot(for='img-6')
