doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/font-awesome.css')
        link(rel='stylesheet', href='/css/image-modal.css')
        link(rel='stylesheet', href='/css/custom.css')
        link(rel='stylesheet', href='/css/slider.css')

        script(src='/bower_components/jquery/dist/jquery.min.js')
        script(src='/js/imageModal.js')
        script(src='/js/utils.js')

    body
        nav.navbar.navbar-default.navbar-fixed-top
            .container
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-controls='navbar', aria-expanded='false')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar

                    a.navbar-brand(href="/") Doña Galleta

                #navbar.navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li.dropdown.bebes
                            a.dropdown-toggle(href="#" data-toggle="dropdown") Bebés & Niños
                                span.caret
                            ul.dropdown-menu.bebes
                                li: a(href="/galeria/vestidos") Vestidos
                                li: a(href="/galeria/culottes") Culottes
                                li: a(href="/galeria/cumpleanos") Cumpleaños
                                li: a(href="/galeria/conjuntos") Conjuntos
                                li: a(href="/galeria/cojines") Cojines
                                li: a(href="/galeria/chupeteros") Chupeteros
                                li: a(href="/galeria/mantas") Mantas
                        li.dropdown.mamapapa
                            a.dropdown-toggle(href="#" data-toggle="dropdown") Mamás & Papás
                                b.caret
                            ul.dropdown-menu.mamapapa
                                li: a(href="/galeria/iguales") Camisetas "vamos iguales"
                                li: a(href="/galeria/pulseras") Pulseras
                                li: a(href="/galeria/sujetadores") Sujetadores
                                li: a(href="/galeria/cordon_gafas") Cordón gafas
                        li.dropdown.decoracion
                            a.dropdown-toggle(href="#" data-toggle="dropdown") Decoración
                                b.caret
                            ul.dropdown-menu.decoracion
                                li: a(href="/galeria/pizarras") Pizarras
                                li: a(href="/galeria/cojin") Cojínes
                                li: a(href="/galeria/guirnaldas") Guirnaldas
                                li: a(href="/galeria/cestas") Cestas
                        li
                            a(target="_blank", href="https://donagalleta.wordpress.com/") Blog
                    ul.nav.navbar-nav.navbar-right
                        li: a(href="/cart")
                            i.fa.fa-cart-plus(aria-hidden="true")


        container
            .page-content
                div(style="padding:5%")
                    block content

        include footer

        // The Modal
        #myModal.modal
            span.close(style="padding:inherit") ×
            #carousel-example-1.carousel.slide.carousel-fade(style='width:55%; margin:auto;' data-ride='carousel')
                ol.carousel-indicators
                .carousel-inner(role='listbox')

                a.left.carousel-control(href='#carousel-example-1', role='button', data-slide='prev')
                    span.icon-prev(aria-hidden='true')
                    span.sr-only Previous
                a.right.carousel-control(href='#carousel-example-1', role='button', data-slide='next')
                    span.icon-next(aria-hidden='true')
                    span.sr-only Next

            .container-fluid
                .row
                    .col-md-4.offset-md-4(style="color:white")
                        h4.card-title
                        p.card-text

        // Contact div
        //- #contactForm(style="position:absolute")
        dialog#contact-dialog.mdl-dialog
            h4.mdl-dialog__title(style="cursor:default") Contact Us!
            hr
            .mdl-dialog__content
                form#contact_form.form-horizontal(action='mailto:someone@example.com', method='post')
                    fieldset
                        // Form Name
                        // Text input
                        .form-group
                            .col-md-12
                                .input-group
                                    span.input-group-addon
                                        i.fa.fa-user
                                    input.form-control(name='name', placeholder='Nombre', type='text')
                        // Text input
                        .form-group
                            .col-md-12
                                .input-group
                                    span.input-group-addon
                                        i.fa.fa-mail-reply
                                    input.form-control(name='email', placeholder='E-Mail', type='text')
                        // Text input
                        .form-group
                            .col-md-12
                                .input-group
                                    span.input-group-addon
                                        i.fa.fa-phone
                                    input.form-control(name='phone', placeholder='(+34)', type='text')
                        // Text input
                        .form-group
                            .col-md-12.inputGroupContainer
                                .input-group
                                    span.input-group-addon
                                        i.fa.fa-archive
                                    textarea.form-control(name='comment', placeholder='Message')
                        .form-group
                            .col-md-12
                                button.btn.btn-warning.pull-right(type='submit')
                                    | Send
                                    span.fa.fa-paper-plane
            .mdl-dialog__actions
                button#dialog-close.mdl-button(type='button') Close
