div#footer
    div.container-fluid
        div.row
            div.col-sm-4
                div.footerWidget
                    p and we hope you do too!
            div.col-sm-4
                div.footerWidget
                    h3 Doña Galleta
                        address
                            p
                                i.fa.fa-map-marker Passeo San Millan de la Cogolla 22, 28050 Madrid
                                i.icon-phone(aria-hidden="true") 012345667
                                i.icon-envelope(aria-hidden="true") Mail
                                a(href="mailto:davher980@gmail.com") davher980@gmail.com
            div.col-sm-4
                div.footerWidget
                    p and we hope you do too!

        div.row(style="padding:20px")
            .col-lg-4.text-right
                a(href='#')
                    i.fa.fa-facebook.fa-3x
            .col-lg-4.text-center
                a(href='#')
                    i.fa.fa-instagram.fa-3x
            .col-lg-4.text-left
                a(href='#')
                    i.fa.fa-wordpress.fa-3x

