
footer#footer
    div.container-fluid
        div.row
            div.col-sm-6
                div.footerWidget
                    img#footerLogo(src="http://2.bp.blogspot.com/-sVl5VX9OMjY/VVOgvhULOPI/AAAAAAAAAJc/lUL8k3Aar6E/s1600/galleta-009.png" alt="latest Little Neko news")
                    p Little Neko is a web design and development studio. We build responsive HTML5 and CSS3 templates, integrating best web design practices and up-to-date web technologies to create great user experiences. We love what we do and we hope you do too!
            div.col-sm-3
                div.footerWidget
                    h3 Miss Galleta
                        address
                            p
                                i.fa.fa-map-marker Passeo San Millan de la Cogolla 22, 28050 Madrid
                                i.icon-phone(aria-hidden="true") 012345667
                                i.icon-envelope(aria-hidden="true") Mail
                                a(href="mailto:davher980@gmail.com") davher980@gmail.com
            div.col-sm-3
                div.footerWidget
                    h4 Follow us, we are social
                    ul
                        li(style="display:inline-block;")
                            a.btn.btn-social-icon.btn-lg.btn-facebook(href="#" title="follow me on Facebook")
                                i.fa.fa-facebook
                        li(style="display:inline-block;")
                            a.btn.btn-social-icon.btn-lg.btn-twitter(href="#" title="follow me on Twitter")
                                i.fa.fa-twitter
                        li(style="display:inline-block;")
                            a.btn.btn-social-icon.btn-lg.btn-instagram(href="#" title="follow me on Instagram")
                                i.fa.fa-instagram