

footer.mdl-mega-footer(style="bottom:0; width:100%; background-color:#C0D6E3")
    .mdl-mega-footer__middle-section
        div.container-fluid
            div.row
                div.col-md-6
                    div
                        span SÍGUENOS EN
                    div
                        ul
                            li(style="display:inline")
                                button.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--colored(onclick='showContactForm()')
                                    i.mdi.mdi-facebook
                            li(style="display:inline")
                                button.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--colored(onclick='showContactForm()')
                                    i.mdi.mdi-instagram
                            li(style="display:inline")
                                button.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--colored(onclick='showContactForm()')
                                    i.mdi.mdi-wordpress

                div.col-md-6
                    img(src='/assets/logos/donagalleta_140_61.jpg')
                    address
                        p
                            i.mdi.mdi-map-marker Passeo San Millan de la Cogolla 22, 28050 Madrid
                        p
                            i.mdi.mdi-cellphone(aria-hidden="true") 6012345667
                        p
                            i.mdi.mdi-contact-mail(aria-hidden="true")  Mail
                                a(href="mailto:davher980@gmail.com") davher980@gmail.com
