footer.page-footer.blue.center-on-small-only
    div.container-fluid
        div.row
            div.col-md-4
                p and we hope you do too!
            div.col-md-4
                h3 Doña Galleta
                    address
                        p
                            i.fa.fa-map-marker Passeo San Millan de la Cogolla 22, 28050 Madrid
                            i.icon-phone(aria-hidden="true") 012345667
                            i.icon-envelope(aria-hidden="true") Mail
                            a(href="mailto:davher980@gmail.com") davher980@gmail.com
            div.col-md-4
                p and we hope you do too!

    .footer-copyright
        .container-fluid
            .col-md-4.text-right
                a.btn.btn-fb.waves-effect.waves-light(href='#')
                    i.fa.fa-facebook.left
                      |  Facebook
            .col-md-4.text-center
                a.btn.btn-in.waves-effect.waves-light(href='#')
                    i.fa.fa-instagram.left
                      |  Instagram
            .col-md-4.text-left
                a.btn.btn-wp.waves-effect.waves-light(href='#')
                    i.fa.fa-wordpress.left
                      |  Wordpress
