extends layout

block content
    div.container-fluid(style="padding:2%")
        div.row
            - for (var i = 0; i < data.length; ++i) {
                div.col-xs-8.col-sm-6.col-md-4
                    .card
                        // Card image
                        .view.overlay.hm-white-slight
                            img.img-fluid(src=data[i].img[0] style='margin:auto' onclick='showModal(this)' data-data=data[i])
                            a
                                .mask.waves-effect.waves-light
                        // /Card image
                        // Card content
                        .card-block
                            // Title
                            h4.card-title= data[i].nombre
                            p.card-text= data[i].descripcion
            - }
