
.mdl-layout.mdl-js-layout
    header.mdl-layout__header.mdl-layout__header--scroll
        .mdl-layout__header-row
            // Title
            span.mdl-layout-title Doña Galleta
            // Add spacer, to align navigation to the right
            .mdl-layout-spacer
            // Navigation
            nav.mdl-navigation
                a.mdl-navigation__link(href="#",onclick="openNav('bebes')") Bebés
                a.mdl-navigation__link(href="#",onclick="openNav('mamas')") Mamás
                a.mdl-navigation__link(href="#",onclick="openNav('decoracion')") Decoración
                a.mdl-navigation__link(href="#",onclick="openNav('cestas')") Cestas
                a.mdl-navigation__link(href="#",onclick="openNav('pedidos')") Pedidos
                a.mdl-navigation__link(href="#",onclick="openNav('blog')") Blog

    .mdl-layout__drawer
        #navigationTitle.span.mdl-layout-title Title
        nav#navigationMenu.mdl-navigation
