doctype html
html
    head
        title= title
        //link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='/bower_components/material-design-lite/material.css')
        link(rel='stylesheet', href='/bower_components/tether/dist/css/tether.css')
        link(rel='stylesheet', href='/bower_components/mdi/css/materialdesignicons.css')
        link(rel='stylesheet', href='/bower_components/bootstrap-material-design/dist/bootstrap-material-design.css')
        link(rel='stylesheet', href='/css/material.min.css')
        link(rel='stylesheet', href='/css/font-awesome.css')
        link(rel='stylesheet', href='/css/image-modal.css')

        link(rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.2/dialog-polyfill.min.css")

        script(src="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.2/dialog-polyfill.min.js")

        script(src='/bower_components/jquery/dist/jquery.js')
        script(src='/bower_components/material-design-lite/material.js')
        script(src='/bower_components/tether/dist/js/tether.js')
        script(src='/bower_components/bootstrap-material-design/dist/bootstrap-material-design.iife.js')
        script(src='/js/imageModal.js')
        script(src='/js/sideNavBar.js')

        script(src="https://www.gstatic.com/firebasejs/3.5.0/firebase.js")

        script.
            var config = {
                apiKey: "AIzaSyBlH-zTU4Veg34fEpJwKhZgfNK17zAjiys",
                authDomain: "missgalleta-a947e.firebaseapp.com",
                databaseURL: "https://missgalleta-a947e.firebaseio.com",
                storageBucket: "",
                messagingSenderId: "707339080953"
            };
            firebase.initializeApp(config);

            function init(){
                var dialog = $('#contact-dialog')[0];
                var showDialogButton = $('#contact-button')[0];
                if (!dialog.showModal) {
                    dialogPolyfill.registerDialog(dialog);
                }
                showDialogButton.addEventListener('click', function() {
                    dialog.showModal();
                });
                dialog.querySelector('button#dialog-close').addEventListener('click', function () {
                    dialog.close();
                });
            }
    body

        //- include header
        .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
            header.mdl-layout__header
                .mdl-layout__header-row
                    // Title
                    a(href="/")
                        span.mdl-layout-title Doña Galleta
                    // Add spacer, to align navigation to the right
                    .mdl-layout-spacer
                    // Navigation
                    nav.mdl-navigation.mdl-layout--large-screen-only
                        a.mdl-navigation__link(href="#",onclick="openNav('bebes', 'Bebés')") Bebés
                        a.mdl-navigation__link(href="#",onclick="openNav('mamas', 'Mamás')") Mamás
                        a.mdl-navigation__link(href="#",onclick="openNav('decoracion', 'Decoración')") Decoración
                        a.mdl-navigation__link(href="#",onclick="openNav('cestas', 'Cestas')") Cestas
                        a.mdl-navigation__link(href="#",onclick="openNav('pedidos', 'Pedidos')") Pedidos
                        a.mdl-navigation__link(href="#",onclick="openNav('blog', 'Blog')") Blog
                        div.container-fluid
                            div.row
                                button#contact-button.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--colored.mdl-js-ripple-effect(data-upgraded=",MaterialButton,MaterialRipple" onclick='showContactForm()')
                                    i.mdi.mdi-email
                                    span.mdl-button__ripple-container
                                        span.mdl-ripple.is-animating(style="width: 160.392px; height: 160.392px; transform: translate(-50%, -50%) translate(19px, 18px);")
            .mdl-layout__drawer
                #navigationTitle.span.mdl-layout-title Title
                nav#navigationMenu.mdl-navigation

            main.mdl-layout__content(style="background-image: url('/img/tela-infantil-topos-jules-et-julie-jus19101114-237827.jpg');background-position:center; ")
                .page-content
                    div(style="padding:3%")
                        block content

                    include footer

        // The Modal
        #myModal.modal
            span.close(style="padding:inherit") ×
            #carousel-example-1.carousel.slide.carousel-fade(style='width:55%; margin:auto;' data-ride='carousel')
                ol.carousel-indicators
                .carousel-inner(role='listbox')

                a.left.carousel-control(href='#carousel-example-1', role='button', data-slide='prev')
                    span.icon-prev(aria-hidden='true')
                    span.sr-only Previous
                a.right.carousel-control(href='#carousel-example-1', role='button', data-slide='next')
                    span.icon-next(aria-hidden='true')
                    span.sr-only Next

            .container-fluid
                .row
                    .col-md-4.offset-md-4(style="color:white")
                        h4.card-title
                        p.card-text

        // Contact div
        //- #contactForm(style="position:absolute")
        dialog#contact-dialog.mdl-dialog
            h4.mdl-dialog__title(style="cursor:default") Contact Us!
            hr
            .mdl-dialog__content
                form#contact_form.form-horizontal(action='mailto:someone@example.com', method='post')
                    fieldset
                        // Form Name
                        // Text input
                        .form-group
                            .col-md-12
                                .input-group
                                    span.input-group-addon
                                        i.fa.fa-user
                                    input.form-control(name='name', placeholder='Nombre', type='text')
                        // Text input
                        .form-group
                            .col-md-12
                                .input-group
                                    span.input-group-addon
                                        i.fa.fa-mail-reply
                                    input.form-control(name='email', placeholder='E-Mail', type='text')
                        // Text input
                        .form-group
                            .col-md-12
                                .input-group
                                    span.input-group-addon
                                        i.fa.fa-phone
                                    input.form-control(name='phone', placeholder='(+34)', type='text')
                        // Text input
                        .form-group
                            .col-md-12.inputGroupContainer
                                .input-group
                                    span.input-group-addon
                                        i.fa.fa-archive
                                    textarea.form-control(name='comment', placeholder='Message')
                        .form-group
                            .col-md-12
                                button.btn.btn-warning.pull-right(type='submit')
                                    | Send
                                    span.fa.fa-paper-plane
            .mdl-dialog__actions
                button#dialog-close.mdl-button(type='button') Close
