.blue {
    background-color: #3F51B5!important;
}

.btn-in {
    background-color: #0B4C5F;
    color: #fff
}

.btn-in:hover {
    background-color: #01A9DB;
}

.btn-wp {
    background-color: #1C1C1C;
    color: #fff
}

.btn-wp:hover {
    background-color: #6E6E6E;
}

.btn-fb {
    background-color: #3B5998;
    color: #fff
}

.btn-fb:hover {
    background-color: #4264aa;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    user-select: none;
    z-index: 1;
    -webkit-tap-highlight-color: transparent;
}
