.dropdown.bebes:hover .dropdown-menu.bebes {
    display: block;
    margin-top: 0;
}

.dropdown.mamapapa:hover .dropdown-menu.mamapapa {
    display: block;
    margin-top: 0;
}

.dropdown.decoracion:hover .dropdown-menu.decoracion {
    display: block;
    margin-top: 0;
}
